body{
  background-color: #0C0C0C;
}
*{
   font-family: "Roboto", sans-serif;
}
.herobtn{
  background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
}
.herobtn:hover{
  background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #a243ce 0%, #cd5cc5 50%, #ea5090 66%, #de4c89 100%);
}